:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 1400px; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #F4CE14;
  color: #333;
  height: 36px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #F4CE14;
  }
}

header{
  width: 100%;
  max-width: 844px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.navbar ul li{
  list-style: none;
}


.navbar ul li a{
  text-decoration: none;
  color: #333;
}

.main{
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
}

.bg{
  width: 100%;
  background-color: #495E57;
  height: 360px;
}

.feedback{
  width: 100%;
  background-color: #FBDABB;
  height: 360px;
  margin-top: 30px;
}

.hero{
  max-width: 844px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .hero{
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
  .menu{
    padding-top: 350px;
  }
}

.details h1{
  color: #F4CE14;
  margin-top: 30px;
}

.details h2{
  margin-top: -30px;
}

.hero-img{
  width: 375px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  
}

.details p{
  width: 247px;
  text-align: left;
}


.order{
  background-color: #495E57;
  padding: 10px;
  border-radius: 16px;
}

.order > .oa{
  color: #fff;
}

.order:hover > .oa{
  color: #333;
}
.order:hover{
  background-color: transparent;
}

.menu{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.special{
  display: flex;
  justify-content: space-between;
}

.cards{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  
}

@media (max-width: 768px){
  .cards{
    flex-direction: column;
    align-items: center;
  }
}

.card{
  background-color: #EDEFEE;
  border-radius: 16px;
  max-width: 265px;
}

.card img{
  width: 265px;
  height: 175px;
  border-radius: 16px 16px 0px  0px;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading p{
  color: #EE9972;
  font-weight: 700;
}

.info{
  padding: 20px;
}

.row{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.booking-title{
  font-size: 32px;
  text-align: center;
  color: #F4CE14;
  margin-top: 50px;
}

.booking{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #495E57;
  border-radius: 16px;
  box-shadow: outset 10px 10px 10px #d1d9e6, inset -10px -10px 10px #ffffff;
}

.booking form{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
}


.booking form label{
  color: #fff;
  font-weight: 600;
}

.booking form input, .booking form select{
  height: 35px;
  border-radius: 8px;
  border: none;
  padding: 5px;
}

.booking form button{
  background-color: #F4CE14;
  color: #333;
  font-weight: 600;
  height: 40px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 30px auto;
}

.booking form button:hover{
  background-color: #EE9972;
  color: #fff;
}

.booking form button:disabled{
  background-color: grey;
  cursor: not-allowed;
}

.confirmed-booking {
  padding: 20px;
  background-color: #EDEFEE;
  color: #333;
  border-radius: 12px;
  margin: 30px auto;
  max-width: 600px;
}

.confirmed-booking h2 {
  color: #495E57;
}
